<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>@ViewBag.Title - TLAS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TLAS", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Bays", "Index", "Bays")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Carriers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Carrier", "Index", "Carriers")</li>
                            <li>@Html.ActionLink("Driver", "Index", "Drivers")</li>
                            <li>@Html.ActionLink("Vehicle", "Index", "Vehicles")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transactions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Manual Entry", "ManualEntry", "Transaction")</li>
                            <li>@Html.ActionLink("Order", "Order", "Transaction")</li>
                            <li>@Html.ActionLink("Shipment", "Shipment", "Transaction")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Reports", "", "Report")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div style="position:relative;">
        <img class="img-responsive" src="~/images/ProjHeaderBackImage.jpg" style="width:100%">
        <img class="img-responsive" src="~/images/ogdclLogo.png" style="position:absolute; top:5px; left:70px;">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year - Avanceon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
